/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron {
    background-image: url("assets/media/sitebanner.jpg");
    color: #ccc;
    margin-left: -25px;
    margin-right: -25px;
    margin-top:-35px;
}
#appwrapper{
    margin: 25px;
    margin-top: 75px;
}